.game-area {
  position: 'absolute';
  background-image: url(./imgs/background.gif);
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #000;
  float: none;
  margin: 0 auto;
}

.cloud {
  width: 80px;
  height: 50px;
  background-size: cover;
}

.player {
  width: 20px;
  height: 30px;
  background-size: cover;
}

.coin {
  width: 15px;
  height: 15px;
  background-size: cover;
}