.game-area {
  background-image: url(./imgs/background.gif);
  background-size: cover;
 background-repeat: no-repeat;
  border: 2px solid #000;
}

.golf-ball {
  height: 25px;
  width: 25px;
  background-image: '/imgs/bunny-left.jpeg';
  border-radius: 50%;
  position: 'absolute';
}